Whitespace Is Important

In [1]:
listOfNumbers = [1,2,3,4,5,6]
for number in listOfNumbers:
    print(number)
    if (number % 2 ==0):
        print("is even")
    else:
        print("is odd")

print("All done")

1
is odd
2
is even
3
is odd
4
is even
5
is odd
6
is even
All done

Importing Modules

In [2]:
import numpy as np

A = np.random.normal(25, 5, 10)
print(A)

[29.24924954 20.74816279 22.07523779 16.10180667 27.67615463 22.02317373
 15.60953217 32.83948634 29.54977587 26.2245209 ]

In [3]:
x = [1,2,3,4,5,6]
print(len(x))

6

In [4]:
x[:3]

[1, 2, 3]

In [5]:
x[3:]

[4, 5, 6]

In [6]:
x[-2:]

[5, 6]

In [7]:
x.extend([7,8])

In [8]:
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
x.append(9)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
y = [10,11,12]
listOfLists = [x,y]
listOfLists

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [11]:
y[1]

11

In [12]:
z = [3,2,1]
z.sort()

In [13]:
z.sort(reverse=True)

In [14]:
z

[3, 2, 1]

## Tuples

In [15]:
x = (1,2,3)
len(x)

3

In [16]:
y = (4,5,6)
y[2]

6

In [22]:
listOfTuples = [x,y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [23]:
(age, income) = "32,12000".split(",")

In [24]:
age

'32'

In [25]:
income

'12000'

In [26]:
# Dictionaries

In [27]:
# Like a map or hash table in other languages

In [28]:
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])

Janeway

In [29]:
print(captains.get("Enterprise"))

Kirk

In [30]:
print(captains.get("NX-01"))

None

In [31]:
for ship in captains:
    print(ship + ": " + captains[ship])

Enterprise: Kirk
Enterprise D: Picard
Deep Space Nine: Sisko
Voyager: Janeway

In [32]:
# Function
def SquareIt(x):
    return x * x

print(SquareIt(2))

4

In [33]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print(DoSomething(SquareIt, 3))

9

In [34]:
#Lambda functions let you inline simple functions
print(DoSomething(lambda x: x * x * x, 3))

27

In [35]:
# Boolean Expressions
print(1 == 3)

False

In [36]:
print(True or False)

True

In [37]:
print(1 is 3)

False

In [38]:
if 1 is 3:
    print("How did that happen?")
elif 1 > 3:
    print("Yikes")
else:
    print("All is well with the world")

All is well with the world

In [39]:
# Looping
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [40]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x)

0
2
3
4
5

In [41]:
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9